:root {
    --green: rgb(2, 252, 183);
    --dark-green: rgb(18, 168, 126);
    --light-gray: #f3f3f3;
    --fontSize: calc(100vw / 60);
    --lineHeight: calc(var(--fontSize) * 1.5);
}

@media print {
     :root {
        --green: black;
        --dark-green: black;
        --light-gray: white;
    }
}

@media only screen and (max-width: 600px) {
     :root {
        --fontSize: 16px;
    }
}

@media only screen and (max-device-width: 812px) and (orientation: landscape) {
     :root {
        --fontSize: 1.7vw;
    }
}

html {
    background-color: #f8f8f8;
    background-image: url('/img/noise.png');
    background-size: 256px 256px;
    font-feature-settings: 'kern'1, 'rlig'1, 'liga'1, 'cv04'1, 'cv07'1, 'cv11'1;
}

h1,
h2 {
    font-feature-settings: 'kern'1, 'rlig'1, 'liga'1, 'calt'1, 'cv10'0, 'dlig'1, 'ss01'1, 'cv05'1;
}

a:hover {
    color: var(--dark-green)
}

.button {
    display: block;
    text-align: center;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 8px;
    padding: calc(var(--lineHeight) - 3px) calc(var(--lineHeight) / 2 - 3px);
    text-decoration: none;
    transition: background-color 0.2s, border-color 0.2s;
}

.button:hover {
    color: black;
    background: var(--green);
    border-color: var(--green);
    transition: background-color 0s, border-color 0s;
}

.stroke {
    position: relative;
}

.stroke:after {
    content: '';
    background-image: url('/img/stroke1.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: block;
    top: 1px;
    left: -15px;
    height: calc(var(--lineHeight) * 2);
    width: 90%;
    position: absolute;
    z-index: -1;
    mix-blend-mode: multiply;
    opacity: 0.8;
}

.second.stroke:after {
    top: 4px;
    background-image: url('/img/stroke2.png');
}

.third.stroke:after {
    top: -2px;
    background-image: url('/img/stroke3.png');
}

blockquote {
    background: var(--light-gray);
    border-left: var(--hrThickness) solid var(--green);
    padding: calc(var(--lineHeight) * 1) calc(var(--lineHeight) * 2) calc(var(--lineHeight) * 1) calc(var(--lineHeight) * 2 - var(--hrThickness));
}

@media only screen and (max-width: 600px) {
    blockquote {
        padding-right: calc(var(--lineHeight) * 1.5);
    }
    blockquote a {
        word-wrap: unset;
        white-space: unset;
    }
}

blockquote p:first-child,
blockquote p:last-child {
    position: relative;
}

blockquote p:first-child::before,
blockquote p:last-of-type::after {
    color: var(--dark-green);
    font-weight: 600;
    font-size: 1rem;
}

blockquote:lang(en) p:first-child::before {
    content: '“';
    position: absolute;
    left: -.42rem;
}

blockquote:lang(en) p:last-of-type::after {
    content: '”';
    margin-left: -.25rem;
}

blockquote:lang(de) p:first-child::before {
    content: '„';
    position: absolute;
    left: -.42rem;
}

blockquote:lang(de) p:last-of-type::after {
    content: '“';
    margin-left: -.25rem;
}

blockquote:lang(fr) p:first-child::before {
    content: '«';
    position: absolute;
    left: -.72rem;
}

blockquote:lang(fr) p:last-of-type::after {
    content: '»';
    margin-left: -.15rem;
}

blockquote p {
    font-style: italic;
}

blockquote footer {
    font-weight: 500;
    font-size: .85rem;
    line-height: var(--lineHeight);
}

.logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logos {
    --multiplier: 1;
}

.logos img {
    height: calc(var(--lineHeight) * 3 * var(--multiplier));
    max-height: 150px;
    padding: calc(var(--lineHeight) * 1.5);
    margin: 0;
    width: unset;
}

@media only screen and (max-width: 600px) {
    .logos img {
        height: calc(var(--lineHeight) * 2 * var(--multiplier));
        padding: calc(var(--lineHeight) * 0.75);
    }
}

@media screen {
    .low-contrast {
        color: #333;
    }
}

@media not screen {
    .only-screen,
    .only-screen * {
        display: none !important;
    }
}

@media not print {
    .only-print,
    .only-print * {
        display: none !important;
    }
}

@media only print {
     :root {
        --fontSize: 12pt;
    }
    html {
        background: none;
    }
    body {
        padding-bottom: 0;
    }
    h1,
    h2,
    h3,
    h4 {
        break-after: avoid;
    }
    h1+p,
    h2+p,
    h3+p,
    h4+p {
        break-before: avoid;
    }
    p,
    blockquote,
    img {
        break-inside: avoid;
    }
    .logos img {
        height: calc(var(--lineHeight) * 2);
    }
}
