{{ define "main" }}
<r-cell span-s="row" span="1-6">
    <h2 class="eyebrow">Ideen und Vorschläge für die Digitalisierung von Morgen</h2>
    <h1 class="h1">Digital&shy;visionen</h1>
    <p class="low-contrast">
        Vierzehn Organisationen aus der digitalen Zivilgesellschaft haben Digitalvisionen entworfen. Einstieg ist dabei
        immer eine Betrachtung des Status Quo. Die Visionen enden mit konkreten Handlungsempfehlungen und Forderungen an
        die Politik. Von Bildung und Zugang über demokratische Partizipation, Nachhaltigkeit und Feminismus, wurde ein
        breites Spektrum an Themen abgedeckt.
    </p>
</r-cell>
<r-cell class="button-list" span="row">
    {{ range where (where .Site.RegularPages.ByWeight "Type" "digitalvisionen") "File.Dir" "digitalvisionen/" }}
    <a role="button" class="button" href="{{.RelPermalink}}">
        {{.Params.Topic}}
    </a>
    {{ end }}
</r-cell>
{{ end }}
