{{ define "main" }}
<r-cell span-s="row" span="1-6">
    <h2 class="eyebrow">Evaluationen der aktuellen Wahlprogramme</h2>
    <h1 class="h1">Wahlprüfsteine</h1>
    <p>
        Wie stehen die Parteien zu den vier Forderungen der digitalen Zivilgesellschaft? Weil die Wahlprogramme uns
        nicht konkret genug waren, haben wir bei den Parteien nachgehakt und anhand von vier Wahlprüfsteinen abgefragt,
        was genau sie digitalpolitsch vorhaben – und wie sie die digitale Zivilgesellschaft stärken wollen.
    </p>
</r-cell>
<r-cell class="button-list" span="row">
    {{ range where (where .Site.RegularPages.ByWeight "Type" "wahlpruefsteine") "File.Dir" "wahlpruefsteine/" }}
    <a role="button" class="button" href="{{.Permalink}}">
        {{.Params.Topic}}
    </a>
    {{ end }}
</r-cell>
{{ end }}
