<r-cell id="nav-container" span="row" class="desktop-only">
    <nav>
        {{ if ne .Page.RelPermalink "/" }}
        <a tabindex="0" role="button" class="nav-button" href="/">
            Start
        </a>
        {{ end }}

        {{ if or (eq .Page.RelPermalink "/digitalvisionen/") (eq .Page.RelPermalink "/wahlpruefsteine/") }}
        <a tabindex="0" role="button" class="nav-button" href="/digitalvisionen/">
            Digitalvisionen
        </a>

        <a tabindex="0" role="button" class="nav-button" href="/wahlpruefsteine/">
            Wahlprüfsteine
        </a>
        {{ else }}
        <a tabindex="0" role="button" class="nav-button"
            onclick="return toggleDialog('#menu-digitalvisionen', this, '.button-list a')" href="/digitalvisionen/">
            Digitalvisionen
        </a>

        <a tabindex="0" role="button" class="nav-button"
            onclick="return toggleDialog('#menu-wahlpruefsteine', this, '.button-list a')" href="/wahlpruefsteine/">
            Wahlprüfsteine
        </a>
        {{ end }}
    </nav>
</r-cell>
