<r-cell id="nav-container" span="row" class="desktop-only">
    <nav>
        {{ if ne .Page.RelPermalink "/" }}
        <a tabindex="0" role="button" class="nav-button" href="/">
            Start
        </a>
        {{ end }}

        <a tabindex="0" role="button" class="nav-button" href="/digitalvisionen/" {{ if eq
            .Page.RelPermalink "/digitalvisionen/" }}disabled{{ end }}>
            Digitalvisionen
        </a>

        <a tabindex="0" role="button" class="nav-button" href="/wahlpruefsteine/" {{ if eq
            .Page.RelPermalink "/wahlpruefsteine/" }}disabled{{ end }}>
            Wahlprüfsteine
        </a>
    </nav>
</r-cell>
